[SET]
EnableHttpSrv=2
HttpAccessControlList=+127.0.0.0/8,+10.0.0.0/8,+172.16.0.0/12,+192.168.0.0/16,+169.254.0.0/16,+100.64.0.0/10
RecNamePlugIn=1
RecNamePlugInFile=RecName_Macro.so
EnableTCPSrv=1
TCPIPv6=0
TCPPort=4510
TCPAccessControlList=+127.0.0.0/8,+10.0.0.0/8,+172.16.0.0/12,+192.168.0.0/16,+169.254.0.0/16,+100.64.0.0/10
TCPResponseTimeoutSec=120
EpgArchivePeriodHour=0
SaveNotifyLog=0
SaveDebugLog=0
TimeSync=0
AutoDelRecInfo=0
AutoDelRecInfoNum=100
TSExt=.ts
[TVTEST]
Num=3
0=BonDriver_LinuxMirakc.so
1=BonDriver_LinuxMirakc_T.so
2=BonDriver_LinuxMirakc_S.so
[BonDriver_LinuxMirakc.so]
Count=0
GetEpg=0
EPGCount=0
Priority=0
[BonDriver_LinuxMirakc_T.so]
Count=2
GetEpg=1
EPGCount=1
Priority=1
[BonDriver_LinuxMirakc_S.so]
Count=2
GetEpg=1
EPGCount=1
Priority=2
